

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#data_table {
    z-index: 1;
    position: fixed;
    margin-left: 5px;
    margin-bottom: 53px;
    max-height: 100%;
    bottom: 0;
    width: 350px;
}

.media img {
    height: 131px;
    width: 278px;
}

.mapboxgl-popup {
 
    max-width: 460px  !important;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* .mapboxgl-popup-content {
    margin-bottom: 10px;
} */
.mapboxgl-popup-tip{
    margin-bottom: 17px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #close_btn{
    margin-right: 10px;
    font-size: 2rem;
  }


  .show_table{
    z-index: 1;
    display: none;
    position: fixed;
    bottom: 40px;
    margin-left: 10px;
    margin-bottom: 28px;
    background-color: white;
    border-radius: 20px;
    height: 60px;
    width: 60px;
    box-shadow: 2px 2px 10px gray;
  }
  .show_table>img {
    max-width: 55%;
    margin-left: 13px;
    margin-top: 10px;
  }
  



 .leaflet-bottom, .leaflet-top {
  z-index: 0 !important;
  position: absolute;
  pointer-events: none;
 }
 .mapboxgl-popup-content{
   position: relative;
   overflow: hidden;
 }
 .carPic {

  display: block;
  width: 100%;
  max-width: 250px;
  height: 120px;
  object-fit:cover ;
 }

